* {
    background-color: darkgray;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    font-size:17px;
    color: white;
    font-weight: bold;
    background-color: rgb(202, 143, 202);
    width: 150px;
    height: 50px;
    border-radius: 10px;
    margin: 75px;
}

button:hover {
    cursor: pointer;
}

h1 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 120px;
    color: rgb(202, 143, 202);
    -webkit-text-stroke: 1px white ;
}

h3 {
    color: white;
    outline: 1px;
    -webkit-text-stroke: 1px rgb(202, 143, 202) ;
    font-size: 40px;
}

p {
    color: rgb(202, 143, 202);
    font-size: 20px;
}

.options {
    margin: 50px;
}